<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/mypage.scss">
  <style>
  </style>
</head>
<div class="welcome"><h1>'Welcome To 픽!했당'</h1></div>
<div class="Manage_me">
  <div class="priority"><%= link_to '우선순위 관리', "/restaurant_recommendation/priority_setting", style: 'color: #fff'%></div>
  <div class="rsearch"><%= link_to '레스토랑 검색', "/restaurant_recommendation/search_setting", style: 'color: #fff' %></div>
  <div class="recommend"><%= link_to '추천 받기', "/restaurant_recommendation/get_recommendation", style: 'color: #fff' %></div>
  <div class="bag"><%= link_to '장바구니', "/restaurant_recommendation/get_shopping_bag", style: 'color: #fff' %></div>
</div>
