<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/new.scss">
  <style>

  </style>
</head>

<div class="PageTitle"><h1>Edit Schedule</h1></div>
<%= form_for @schedule, url:"/restaurant_table_management/update_schedule/#{@schedule.restaurant_id}/#{@schedule.table_id}",method: "patch" do |f| %>
  <div class="new">
    <div class="ncustomer">손님 수 : <%=f.text_field :ncustomer %></div>

  </div>
  <div class="button"><%= f.submit "save" %></div>
<% end %>


