*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.IndexName{
  padding: 20px;
  color: #fff;
  background-color: #fd4c4e;
  display: flex;
  justify-content: center;
}
.subindex{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: #fbb1b2;
  display: flex;
  justify-content: center;
}
.button{
  display: flex;
  justify-content: center;
}
.all{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.my_restaurant{
  padding-top: 20px;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.link{
  padding-top: 20px;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.picture{
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
}