// Place all the styles related to the restaurant_recommendation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome{
  padding: 20px;
  color: #fff;
  background-color: #fd4c4e;
  display: flex;
  justify-content: center;
}
.Manage_me{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.priority{
  padding: 100px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fbb1b2;
}
.rsearch{
  padding: 100px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f47172;
}
.recommend{
  padding: 100px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fd8c8e;
}
.bag{
  padding: 100px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fb585a;
}