// Place all the styles related to the restaurant_recommendation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome{
  padding: 20px;
  color: #fff;
  background-color: #fd4c4e;
  display: flex;
  justify-content: center;
}
.Manage_me{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.priority{
  width: 300px;
  height: 300px;
  background-color: #fbb1b2;
}
.rsearch{
  width: 300px;
  height: 300px;
  background-color: #fd8c8e;
}
.recommend{
  width: 300px;
  height: 300px;
  background-color: #f3b0a0;
}
.bag{
  width: 300px;
  height: 300px;
  background-color: #ec757b;
}