<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/new.scss">
  <style>
  </style>
</head>

<h1><%=@restaurant.name %></h1>
<a href="/restaurant_reservation/index_basket/">장바구니</a>
<a href="/restaurant_reservation/new_schedule/<%=@restaurant.id %>">즉시예약</a>