<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/Index.scss">
  <style>
  </style>
</head>

<div class="IndexName"><h1><%=@restaurant.name %></h1></div>
<div class="picture"><%= image_tag @restaurant.img_url, :size => "260x180" %></div>

<div class="all">
  <div class="my_restaurant"><a href="/restaurant_recommendation/get_shopping_bag"><img src="/takeaway.svg" width="30px" height="30px"></a></div>
  <div class="link"><a href="/restaurant_reservation/new_schedule/<%=@restaurant.id %>"><img src="/reservation.svg" width="30px" height="30px"></a></div>
</div>